@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');


img {
    height: 200px;
}


nav {
    background-color: #B26F2B;
    border-color: black;
    border-bottom: 1px solid;
    padding: 16px;
}

.text-shadow {
    font-weight: bold;
    font-size: 50px;
    text-shadow: 5px 1px 1px lightgrey;
}


body {
    margin:0;
}


footer {
    background-color: #A8B545;
    padding: 24px 0px 24px 16px;
    margin-top: 100px;
}


main {
    padding: 16px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.google-fonts {
    font-family: 'Young Serif', serif;
}


.google-fonts1 {
    font-family: 'Gabarito', sans-serif;
}


.google-fonts2 {
    font-family: 'DM Serif Text', serif;
}


a {
    text-decoration: none;
    color: #6A8C69;
}


a:hover {
    background-color: pink;
}


h1 {
    color: #485312;
}


tr:nth-child(even) {
    background-color: lightgray;
}

